@model List<Tour>

@{
    ViewData["Title"] = "Touren Übersicht";
}

<h3>Touren</h3>
<br />

<form asp-controller="Delivery" id="Delivery" asp-action="List" enctype="multipart/form-data">
    <div class="row form-group">
        <div class="col-2">
            <div class="col-form-label">
                Am:
            </div>
        </div>
        <div class="col-3">
            <input class="form-control" type="date" id="dateFrom" name="dateFrom" placeholder="DD.MM.YYYY" />
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit">Anzeigen</button>
        </div>
    </div>
</form>

@if (Model != null)
{

    <table id="tourTable" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Tourdatum</th>
                <th>Tourname</th>
                <th>Aktionen</th>
            </tr>
        </thead>

        <tbody>

            @{
                foreach (Tour tour in Model)
                {
                    <tr>
                        <td>@tour.TourDate.ToString("dd.MM.yyyy") </td>
                        <td>@tour.TourName</td>
                        <td class="text-right">
                            <a asp-route-id="@tour.IdTour" asp-controller="Delivery" asp-action="OpenTour" class="btn btn-default" aria-label="Bearbeiten">
                                <span class="fa fa-edit fa-lg" aria-hidden="true"></span>
                            </a>
                            <button onclick="onClickedCreateTourPDF(@tour.IdTour)" class="btn btn-default" aria-label="PDF">
                                <span class="fa fa-truck fa-lg" aria-hidden="true"></span>
                            </button>
                            <button onclick="onClickedCreateAllStockPDF(@tour.IdTour)" class="btn btn-default" aria-label="PDF">
                                <span class="fa fa-clipboard-list fa-lg" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <div id="partialList">

    </div>





}

@section Scripts {
    <script>

    $(document).ready(function () {
            $('#tourTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                }
            });

            document.getElementById("dateFrom").value = '@ViewData["dateFrom"]';
        });


    function onClickedCreateTourPDF( id ) {
        var win = window.open("/TourPdf/CreateTourPdf/" + id, '_blank');
        win.document.title = "Tourenplan für Tour";
    }

            function onClickedCreateAllStockPDF( id ) {
        var win = window.open("/TourPacklistPdf/CreateAllStockPdf/" + id, '_blank');
        win.document.title = "Packliste für Tour";
    }

    </script>
}