@model ExpofairTourPlanung.Models.Vehicle

@{
    ViewData["Title"] = "Fahrzeugdaten";
}


<form asp-controller="Vehicle" asp-action="SaveVehicle" enctype="multipart/form-data">

    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>Fahrzeug-Daten:</h5>
        </div>

        <div class="card-body">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })


            @Html.Hidden("IdVehicle", (Model != null) ? Model.IdVehicle : 0)


            <div class="row form-group">
                <div class="col-6">
                    <label for="Vehicle">Kennzeichen</label>
                    <input class="form-control" asp-for="VehicleNr" type="Text" placeholder="Fahrzeugkennzeichen" />
                </div>
                <div class="col-6">
                    <label for="Vehicle">FahrzeugTyp</label>
                    <input class="form-control" asp-for="VehicleType" type="Text" placeholder="Fahrzeugtyp" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label for="Vehicle">Zuladung (Kg)</label>
                    <input class="form-control" asp-for="NetWeight" type="number" placeholder="Maximale Zuladung" />
                </div>
                <div class="col-6">
                    <label for="Vehicle">Volumen (Kubikmeter)</label>
                    <input class="form-control" asp-for="NetVolume" type="number" placeholder="Verfügbarer Laderaum" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label for="Vehicle">Status</label>
                    <input class="form-control" asp-for="Status" type="text" placeholder="Status" />
                </div>
                <div class="col-6">
                    <label for="Vehicle">Eigentümer</label>
                    <input class="form-control" asp-for="Owner" type="text" placeholder="Eigentümer" />
                </div>
            </div>


            <div class="row form-group">
                <div class="col">
                    <label for="Vehicle">Kommentar</label>
                    <textarea rows="6" class="form-control" asp-for="Comment" placeholder="Hier können Sie einen generellen Kommentar eintragen."></textarea>
                </div>
            </div>


            <div class="row form-group">
                <div class="col-6">
                    <label for="Vehicle">Verfügbar von:</label>
                    <input class="form-control" asp-for="StartDate" type="date" placeholder="Verfügbar von" />
                </div>
                <div class="col-6">
                    <label for="Vehicle">Verfügbar bis:</label>
                    <input class="form-control" asp-for="EndDate" type="date" placeholder="Verfügbar bis" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="Vehicle">Fahrzeug kann genutzt werden:</label>
                    @Html.CheckBox("IsActiv", Model?.IsActiv ?? true, new { @class = "checkbox style-2 pull-right" })
                </div>
            </div>
        </div>


        @*@Html.DropDownListFor(model => Model.Driver, (SelectList)ViewBag.Employees, "Wer ist der Fahrer?", new { @placeholder = "Wer ist der Fahrer?" })*@

    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Speichern</button>
        <button class="btn btn-secondary" onclick='window.location = "@Url.Action("CreateEditVehicle", "Vehicle")";'>Neues Fahrzeug</button>
        <button class="btn btn-secondary" onclick='window.location = "@Url.Action("Index", "Vehicle")";'>Übersicht</button>
    </div>
    </div>
</form>
@section scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $(document).ready(function () {
            if (document.getElementById("StartDate").value == "") {
                document.getElementById("StartDate").valueAsDate = new Date();
            }
            if (document.getElementById("EndDate").value == "") {
                document.getElementById("EndDate").valueAsDate = new Date("2049-12-31");
            }
        });

     


    </script >
}