@model List<Vehicle>

@{
    ViewData["Title"] = "Fahrzeug-Übersicht";
}

<h3>Verfügbare Fahrzeuge</h3>
<br />

<table id="tourTable" class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Fahrzeugnummer</th>
            <th>Fahrzeugtyp</th>
            <th>Zuladung</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (Vehicle vehicle in Model)
            {
                <tr>
                    <td>@vehicle.VehicleNr </td>
                    <td>@vehicle.VehicleType</td>

                    <td>@string.Format("{0:n0}", vehicle.NetWeight.ToString())</td>
                    <td>
                        <a asp-route-id="@vehicle.IdVehicle" asp-controller="Vehicle" asp-action="CreateEditVehicle" class="btn btn-default" aria-label="Bearbeiten">
                            <span class="fa fa-edit fa-lg" aria-hidden="true"></span>
                        </a>

                        <button onclick="onClickedDeleteVehicleButton(@vehicle.IdVehicle)" class="btn btn-default" aria-label="Löschen">
                            <span class="fa fa-trash-alt fa-lg" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


<a class="btn btn-primary" asp-controller="Vehicle" asp-action="CreateEditVehicle">Neue Fahrzeug anlegen</a>

@section Scripts {
    <script>
    $(document).ready(function () {
    $('#tourTable').DataTable();

    });
    function onClickedDeleteVehicleButton(id) {

            Swal.fire({
                title: 'Möchtest du das Fahrzeug wirklich löschen?',
                icon: 'error',
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {
                if (result.isConfirmed) {

                    // Backend call to delete tour by id
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DelVehicleById")",
                        data: { id: id },
                        success: function (msg) {
                            Swal.fire('Wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
                }
            })
    }


   

    </script>
}