@model List<ExpoEvent>
@using System.Text.RegularExpressions

@{
    ViewData["Title"] = "Gross-Ereignis";
}

<h3>Grossereignis</h3>
<br />

<form asp-controller="Event" asp-action="Index" enctype="multipart/form-data">
    <div class="row form-group">
        <div class="col-2">
            <div class="col-form-label">
                Von:
            </div>
        </div>
        <div class="col-3">
            <input class="form-control" type="date" id="dateFrom" name="dateFrom" placeholder="DD.MM.YYYY" onchange="this.form.submit()" />
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit">Anzeigen</button>
        </div>
    </div>
</form>


@if (Model != null)
{

<form asp-controller="Event" asp-action="CreateTour" onsubmit="sendSelected()" enctype="multipart/form-data">
    @Html.Hidden("Date", @ViewData["dateFrom"])
    @Html.Hidden("EventList", "")



    <table id="EventTable" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Event</th>
                <th>An/Ab</th>
                <th>Adresse</th>
                <th>Anzahl Jobs</th>
                <th>Auswahl</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (ExpoEvent expoEvent in Model)
                {
                        <tr>
                            <td>@expoEvent.JobType</td>
                            <td>@expoEvent.In_Out</td>

                            <td>@Regex.Replace(@Regex.Replace(@expoEvent.Address, ";+$", ""),";","; ")</td>
 
                            <td>@expoEvent.Count</td>
                            <td><input type="checkbox" value="@expoEvent.Address" /> </td> 
                        </tr>
                }
            }
        </tbody>
    </table>
    <div class="col-2">
        <button class="btn btn-primary" type="submit" >Erzeuge Tour</button>
    </div>
</form>
    }
    @section Scripts {
        <script>
        $(document).ready(function () {
            document.getElementById("dateFrom").value = '@ViewData["dateFrom"]';
        });

            function sendSelected() {
                var sList = "";
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        sList += this.value + ",";
                    }
                });
                document.getElementById("EventList").value = sList;
            }

        </script>
    }
