
@model List<Staff>

@{
    ViewData["Title"] = "Mitarbeiter-Übersicht";
}

<h3>Verfügbare Mitarbeiter</h3>
<br />

<table id="StaffTable" class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Mitarbeitername</th>
            <th>Mitarbeiterstatus</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (Staff employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeName1 </td>
                    <td>@employee.Status</td>

                    <td>
                        <a asp-route-id="@employee.IdStaff" asp-controller="Staff" asp-action="CreateEditEmployee" class="btn btn-default" aria-label="Bearbeiten">
                            <span class="fa fa-edit fa-lg" aria-hidden="true"></span>
                        </a>

                        <button onclick="onClickedDeleteVehicleButton(@employee.IdStaff)" class="btn btn-default" aria-label="Löschen">
                            <span class="fa fa-trash-alt fa-lg" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


<a class="btn btn-primary" asp-controller="Staff" asp-action="CreateEditEmployee">Neuen Mitarbeiter anlegen</a>

@section Scripts {
    <script>
    $(document).ready(function () {
    $('#StaffTable').DataTable();

    });
    function onClickedDeleteEmployeeButton(id) {

            Swal.fire({
                title: 'Möchtest du den Mitarbeiter wirklich löschen?',
                icon: 'error',
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {
                if (result.isConfirmed) {

                    // Backend call to delete Employee by id
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DelEmployeeById")",
                        data: { id: id },
                        success: function (msg) {
                            Swal.fire('Wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
                }
            })
    }




    </script>
}